#dashboard {
    background: #0624a7;
    color: white;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin: 0 0 20px;
    padding: 0 12px 12px;
}

#searchAside {
    background-color: white;
}

.weather-box {
    padding: 20px;
    margin-top: 20px;
    height: 200px;
    border: 2px solid #0624a7;
    background-color: rgb(92, 182, 238);
}